@charset "UTF-8";
/* CSS Document */


.header{ margin:0; float: left; width:100%; padding:5px 0px;}
.navbar{ background:#965036; color:#fff;}
.navbar .nav li a{ color:#fff}
.navbar .nav li a:hover, .navbar .nav li a:active, .navbar .nav li a:focus{ color:#fff}

.navbar-header{ display:none}
.menu .navbar-nav > li > a {line-height:35px;}
a:focus {outline:none;}
.slide_img{ margin:0; padding:0; float:left; width:100%;}
.sd_img{ width:100% !important;}
.user_reg{ margin:0 auto; padding:0; display:table; padding:20px 0px}
.user_reg p{ font-size:15px; font-weight:bold; padding:15px 0px;}
.cus_btn{ margin:0 auto;display:table; padding:10px 30px; border-radius:0; background:#965036; font-size:16px; border:2px solid #965036;transition: all 0.2s ease-out 0s; color:#fff;}
.cus_btn:hover, .otp_btn input:hover{ background:#fff; border:2px solid #965036; color:#000;transition: all 0.2s ease-out 0s;}
.log_form .form-control{ height:40px;}
.form-group.last .cus_btn{ margin:0; float:left; padding: 9px 44px;}
.log_form{ padding:20px 0px;}
#footer{ margin:0; padding:0; float:left; width:100%; background:#965036;position:fixed; bottom:0; left:0; right:0;}
#footer p{ text-align:center; padding-top:10px; color:#fff;}
.frm{ width:100%; margin:0; padding:0; float:left}
.frm label, .frm input, .frm select{ width:100%; margin:0; padding:0px 5px; float:left;}
.reg_form .frm{ width:100%; margin:0; padding:6px 0px; float:left}
.frm_select select{ border:1px solid #ccc}
.otp_btn{ width:auto !important; padding:10px 0px !important;transition: all 0.2s ease-out 0s;}
.otp_btn input{ margin:0;padding:10px 30px; border-radius:0;font-size:16px; border:2px solid #965036; background:#965036; color:#fff; width:auto !important;}
.frm_select select{ padding:7px 5px; border-radius:5px}
.reg_form label{ font-weight:normal}
.navbar-header .navbar-brand{ color:#fff;}
.menu .navbar-default .navbar-toggle{border:0 ;}
.menu .navbar-default .navbar-toggle:hover{ background:none}
.menu .navbar-default .navbar-toggle .icon-bar{ background:#fff;}
.cus_btn:active, .cus_btn:hover{ background:none}
.btn:active{ color:#000 !important}
a, a:hover{ text-decoration:none; color:#fff;}

@media screen and ( max-width:991px)
{
.logo{ margin:0 auto;float:none; width:auto; display:table}


}
@media screen and ( max-width:768px)
{
	.navbar-header{ display:block;}
	
	}	
@media screen and ( max-width:640px)
{
	#footer{ position:inherit}	
}